$primary: #646cff;
$primaryDark: #535bf2;
$disabled: #8d8d8d;

form {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    textarea {
        width: 80%;
        height: 50%;
        resize: none;
        border-color: $primary;
        border-radius: 1rem;
        padding: 2rem;
        font-size: 1.2rem;

        &:focus {
            outline: none;
            border-color: $primaryDark;
        }
    }

    button {
        margin-top: 2rem;

        &:focus {
            outline: none;
            background-color: $primaryDark;
        }
    }
}

.result {
    display: flex;
    width: 100%;
    padding: 0 4rem;
    box-sizing: border-box;
    justify-content: space-between;

    button {
        position: absolute;
        margin: 2rem;
        top: 0;

        &:focus {
            outline: none;
            background-color: $primaryDark;
        }

        &.share {
            right: 5rem
        }

        &.reload {
            right: 0;
        }
    }

    .title {
        color: $disabled;
        align-self: start;
    }

    .sentiment {
        min-width: 50%;
        padding: 2rem;

        .content {
            display: flex;

            .major {
                .description {
                    text-align: center;
                    color: $disabled;

                    div {
                        font-weight: bolder;
                    }
                }

                svg {
                    font-size: 12rem;
                }
            }

            .feelings {
                width: 100%;

                ul {
                    margin: 0;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    li {
                        display: flex;
                        align-items: center;

                        .icon {
                        }

                        .bar {
                            height: 0.7rem;
                            background-color: red;
                            margin: 0 0.7rem;
                            overflow: hidden;
                            font-size: xx-small;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 0.1rem;
                        }
                    }
                }
            }
        }
    }

    .text {
        .content {
            padding: .5rem 1rem;
            max-width: 90%;
        }

        .key-terms {
            .title {
                font-size: 0.6rem;
                color: $disabled;
            }

            ul {
                margin-top: 0.7rem;
                padding: 0;
                display: flex;

                li {
                    font-size: 0.7rem;
                    margin: 0 0.2rem;
                    list-style: none;
                    padding: 0.2rem 0.8rem;
                    border: 0.1rem solid $primary;
                    border-radius: 1rem;

                    &:hover {
                        border-color: $primaryDark;
                        cursor: crosshair;
                        color: $primary;
                    }
                }
            }
        }

        .suggested-topics {
            margin-top: 2rem;

            .title {
                color: $disabled;
                margin: 0;
            }

            ul {
                margin-top: 0.7rem;

                li {
                    font-size: 0.8rem;
                    margin: 0 0.2rem;
                    list-style: square;
                    padding: 0.2rem 0.8rem;
                    border-radius: 1rem;

                    &::marker {
                        color: $primary;
                    }

                    &:hover {
                        cursor: crosshair;
                        color: $primaryDark;
                    }
                }
            }
        }
    }
}

.lds-dual-ring {
    margin: 2rem 0;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $primary;
    border-color: $primary transparent $primary transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
